body {
    background-color: #fff 
}
#left-header {
    display: block;
    position: absolute;
    font-size: 13px;
    font-family: arial, sans-seif;
    z-index:9999999;
    padding-top: 8px;
}
#left-header-a {
    display: inline-block;
    padding-left: 17px;
    opacity: 0.75;
    text-decoration: none;
    color: black;   
}
#left-header-b {
    display: inline-block;
    padding-left: 11px;
    opacity: 0.75;
    text-decoration: none;
    color: black;
}
#right-header {
    display:flex;
    position: relative;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30px;
    padding-right: 22px;
    font-size: 13px;
    margin: 15px 0 0 0;
    font-family: arial, sans-serif;  
}
#right-header-images {
    padding: 0 22px 0 15px;
    opacity: 0.8;
    text-decoration: none;
    color: black;
}
#gmail {
    opacity: 0.8;
    text-decoration: none;
    color: black;
}
#apps {
    opacity: 0.55;
    padding-right: 7px;
    height: 16px;
    width: 16px;
    padding-top: 2px;
}
#right-header-signin {
    margin-left: 15px;
    color: white;
    background-color: #4285f4;
    height: 30px;
    width: 69px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 13px;
    border: none;
    padding-top: 1px;  
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
    padding-top: 145px;
}
#share-container {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 22px;
    grid-template-areas: ". share .";
    justify-items: end;    
}
#share {
    align-items: bottom;
    justify-items: right;
    grid-area: share;
}
#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-color: #dfe1e5;
    opacity: 0.8;
    border-width: 3px;
    border-radius: 50px;
    background-color: #fff;
    border-style: solid;
    height: 42px;
    width: 490px;  
}
#magnifyingglass {
    height: 15px;
    width: 15px;
    background-color: white;
    opacity: 0.5;
    display: block;
}
#searchline {
    height: 42px;
    width: 420px;
    font-size: 15px;
    border: none;
}
#microphone {
    height: 25px;
    width: 25px;
    background-color: white;
    display: block;
    opacity: 1.0;   
}
.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 27px;
}
#google-search {
    margin-right: 7px;
    height: 38px;
    width: 130px;  
    border-radius: 5px;
    background-color:#f8f9fa;
    border: none;
    font-size: 14px;
}
#feeling-lucky {
    margin-left: 5px;
    height: 38px;
    width: 140px;  
    border-radius: 5px;
    background-color:#f8f9fa;
    border: none;
    font-size: 14px;
}
#newslinehead {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;   
}
#cameraicon {
    height: 27px;
    width: 27px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right:2px;
}
#newsline {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: black;
}
#footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #70757A
}
#footer-left {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}
#advertising, #how-search-works{
    display: inline-block;   
}
#business {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
#footer-center {
    display: inline-block;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 40%;
    right: 40%;   
}
#carbon-neutral {
    text-align: center;
    justify-content: center;
    align-items: center;
}
#footer-right {
    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 20px;
}   
#privacy, #settings{
    display: inline-block;
}
#terms {
    display: inline-block;
    padding: 0 20px 0 20px;
}