body {
    background-color: #fff
    
}

#left-header {
    display: block;
    position: absolute;
    font-size: 13px;
    font-family: arial, sans-seif;

}
#left-header-a {
    display: inline-block;
    padding-left: 17px;
    opacity: 0.75;
    
    
}

#left-header-b {
    display: inline-block;
    padding-left: 11px;
    opacity: 0.75;

}
#right-header {
    display:flex;
    position: relative;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30px;
    padding-right: 22px;
    font-size: 13px;
    margin: 10px 0 0 0;
    font-family: arial, sans-serif;
    
}
#right-header-images {
    padding: 0 15px 0 15px;

}

#right-header-signin {
    margin-left: 15px;
    color: white;
    background-color: #4285f4;
    height: 30px;
    width: 69px;
    border-radius: 3px;
    font-weight: bold;
    border-color: #4285f4
   
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 59px;

}
#share {
    position: absolute;
    align-items: center;
    justify-content: center;

}
#searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchline {
    height: 34px;
    width: 387px;
    font-size: 15px;
    border-radius: 15px;
    border-width: 1px;


}

.search-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}

#google-search {
    margin-right: 5px;
    height: 38px;
    width: 120px;  
    border-radius: 5px;
    background-color:#f8f9fa;
    border: none;
}

#feeling-lucky {
    margin-left: 5px;
    height: 38px;
    width: 120px;  
    border-radius: 5px;
    background-color:#f8f9fa;
    border: none;
}

#newslinehead {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
#cameraicon {
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#newsline {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #70757A
}

#footer-left {
    display: inline-block;
    text-align: left;
    margin-left: 20px;
}

#advertising, #how-search-works{
    display: inline-block;
    
}

#business {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#footer-center {
    display: inline-block;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 40%;
    right: 40%;
   
}
#carbon-neutral {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#footer-right {
    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 20px;

}   

#privacy, #settings{
    display: inline-block;

}

#terms {
    display: inline-block;
    padding: 0 20px 0 20px;

}